.container {
    height: 400%;
    width: 50%;
    border: solid;
    font-weight: 400;
    font-size: larger;
    position: absolute; 
    left: 30%;
}
.fixed {
height: 100px;
width: 100px;
background-color: aqua;
position: sticky; 
top: 63%;
left: 60%;

}